---
BasedOnStyle: LLVM
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: false
IndentCaseLabels: true
